body{
	background: url('/static/platform/images/bg.jpg');
}
header{
	margin-top:80px;
	color:#fff;
	text-align: center;
	font-weight: bold;
	text-shadow:2px 2px 2px #000;
}
header .title{
	font-size: 36px;
	font-family: SimHei;
	font-weight: bold;
}
header .second-title{
	margin-top:5px;
	margin-left:222px;
}
.k-card{
	width:300px;
	height:206px;
	margin-bottom:36px;
	background-color:rgba(0,0,0,0.2);	
}
.k-card .layui-card-header{
	background: #0fb361;
	color:#f0fd02;
	font-size: 16px;
	border:none;
}
.k-card .layui-card-body{
	background:none;
}
.k-card .layui-card-header span{
	font-size: 12px;
	color:#fff;
	margin-left:5px;
}
#area-seleter{
	width:350px;
	float:left;
	margin-right:40px;
}
#area-seleter .layui-form-item{
	margin-bottom:40px;
}
#message-box{
	float:left;
}
.message .message-title{
	color:#f0fd02;
	display:inline-block;
	width:120px;
	text-align: right;
}
.message .message-number{
	display: inline-block;
	color:#fff;
}
.message-box-left{
	width:350px;
	float:left;
}
.message-box-middle{
	float:left;
}
.message-box-right{
	width:350px;
	float:left;
}
#map{
	width:800px;
	height:500px;
}
#anticipation .layui-card-body{
	clear: both;
}
#anticipation .message{
	height:24px;
	clear: both;
}
#anticipation .message-title{
	float:left;
	text-align: left;
	color:#fff;
}
#anticipation .message-number{
	float:right;
	text-align: right;
	color:#f0fd02;
	font-size: 18px;
}

